<!DOCTYPE html>
<html>
<head>
<title>About</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<br>
<br>
<br>
<br>
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">About</h1>
  </div>
</header>


<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="assets/1.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="900" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Racial Justice and Intersectionality</h1><br>
      <p class="w3-large">Young people are leading the movement toward just and safe communities for all. We are on the front lines of those working for the rights of Black, Latino/a/x, Asian and Pacific Islander, Native American, Muslim, immigrant, and refugee youth.</p>
    </div>
  </div>
  
  <hr>
  
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Information</h1><br>
      <h4>What is intersectionality?</h4>
      <p class="w3-text-grey">The interconnected nature of social categorizations such as race, class, and gender, regarded as creating overlapping and interdependent systems of discrimination or disadvantage; a theoretical approach based on such a premise.</p><br>
    
      <h4>What is Racial Justice?</h4>
      <p class="w3-text-grey">is the systematic fair treatment of people of all races that results in equitable opportunities and outcomes for everyone. All people are able to achieve their full potential in life, regardless of race, ethnicity or the community in which they live.Aug 24, 2020
    </p><br>
    
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="assets/3.png" class="w3-round w3-image w3-opacity-min" alt="Menu" width="1000" height="900">
    </div>
  </div>

  <hr>

  
  
</div>



</body>
</html>
